{% extends "base.html" %}

{% block content %}

<div class="report-wrapper">

    <div class="report-card">

        <h2>Balances</h2>

        {% if balances %}

        <table class="report-table">
            <tr>
                <th>Name</th>
                <th>You Owe</th>
                <th>You Paid</th>
            </tr>

            {% for user_id, data in balances.items() %}
            <tr>
                <td>{{ data.name }}</td>
                <td>₹{{ data.you_owe }}</td>
                <td>₹{{ data.you_paid }}</td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
            <p>No balance data available.</p>
        {% endif %}

    </div>

</div>

{% endblock %}